//
//  Debug.xcconfig
//  MSZNearBy
//
//  Created by MSZ on 12/5/19.
//  Copyright © 2019 MSZ. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

TIMEOUT_INTERVAL       = 10
PROTOCOL               = https
PORT                   = 443
BASE_DOMAIN             = api.foursquare.com
CLIENT_ID               = 35RF25MQ0Y41WYUBEHJ5CY32ZYQRSBKQCQQOQRWGRQ3NBF20
CLIENT_SECRET           = 5HGOFSFQQYA0A1W23S1LQSQDHMGUFVAGAXJJPYFCMGWSXMIN


