//
//  Debug.xcconfig
//  MSZNearBy
//
//  Created by MSZ on 12/5/19.
//  Copyright © 2019 MSZ. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

TIMEOUT_INTERVAL       = 10
PROTOCOL               = https
PORT                   = 443
BASE_DOMAIN             = api.foursquare.com
CLIENT_ID               = O2JABP4QVFXSXT2LO0CLSRQSMWY4A1S20I4SUBFMITE2EVJQ
CLIENT_SECRET           = TP3ZFERYDNVLNXDP3QDPF5S5AP5L2HGZXFQMEZDK1SS2GOOO


